.row{
    text-align: center;
}

thead{
    text-align: center;
}

tbody{
    text-align: center;
}

body{
    background-image: url(https://cdn1.epicgames.com/ue/item/subwaytunnel_screenshot03-1920x1080-8ed44d03e8ac79f2381f3c3c15d135cf.png);
    background-size: cover;
}

h1{
    color: yellowgreen;
}

h4{
    color: yellowgreen;
}

label{
    color: yellowgreen;
}

th{
    color: yellowgreen;
    text-align: center;
}

td{
    color: yellowgreen;
    text-align: center;
}

tr{
    text-align: center;
}

/* #train-input{
    color: yellowgreen;
}

#destination-input{
    color: yellowgreen;
}

#FTT-input{
    color: yellowgreen;
}

#freq-input{
    color: yellowgreen;
} */