.row{
    position: center;
}

.container-fluid{
    position: center;
}

.form{
    position: center;
}

thead{
    position: center;
}

tbody{
    position: center;
}

body{
    background-image: url(https://d21xlh2maitm24.cloudfront.net/nyc/grand-central.jpg?mtime=20161027144807);
    background-size: cover;
}